<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <product_image>
                    <fields>
                        <thumbnail_width translate="label comment">
                            <label>Thumbnail Image Width</label>
                            <comment>Maximum width thumbnail product image will be scaled down to in pixels</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </thumbnail_width>
                    </fields>
                </product_image>
            </groups>
        </catalog>
    </sections>
</config>
