<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_Api2>
            <version>0.0.1</version>
        </Aoe_Api2>
    </modules>
    <global>
        <helpers>
            <Aoe_Api2>
                <class>Aoe_Api2_Helper</class>
            </Aoe_Api2>
        </helpers>
        <models>
            <Aoe_Api2>
                <class>Aoe_Api2_Model</class>
            </Aoe_Api2>
        </models>
    </global>
</config>